body{
    background-color: #101010;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin:0;
    padding:0;
    letter-spacing: 0.03em;
    line-height:1.2;
}
/* #history, nav, #instructions, #text{
    background-color: #101010cf;
} */
#text{
    position:relative;
}
#modal{
    position: fixed;
    overflow: scroll;
    height:90%;
    background-color: #101010cf;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 8;
    flex-direction: column;
}
#modal .inner{
    max-width: 600px;
    padding:25px;
    position:relative;
    font-size: 20px;
    background-color: #101010;
}
#modal::before{
    background-color: #10101034;
    content:"";
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    cursor: pointer;
    width:100vw;
}

#modal #close{
    width: 20px;
    height: 30px;
    position: absolute;
    right:15px;
    top:15px;
    cursor: pointer;
}
#modal.closed{
    display: none;
}
#text::before,nav::before, #history::before{
    background-color: #101010cf;
    position: absolute;
    width:100%;
    height:100%;
    content:"";
    top:0;
    left:0;
    /* filter:blur(8px); */
    z-index: -1;
}
nav::before{
    background-color: #101010;
}
/* #text::before,#instructions::before{
    top:-10px;
} */
#instructions::before{
    height: calc(100% - 5px);
}
#instructions br{
    display: none;
}
#instructions a{
    margin-top:10px;
    display: block;
}
#two #wrapper img{
    width:50%;
    left: 300px;
    top: 50px;
    opacity: 0.1;
}
#twelve #wrapper img{
    opacity: 0.1;
}
#one #wrapper img{
    opacity: 0.4;
}

nav{
    position:fixed;
    top:0;
    left:0;
    z-index: 999;
}
nav a{
    padding:15px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    opacity: 0.8;
    filter: sepia(1);
}
p a:hover{
    opacity: 0.8;
    filter: sepia(1);
}
#instructions{
    position: relative;
    margin-left:0;
    padding-left:25px;
    z-index: 2;
    margin-top:4px;
    padding-top: 33px;
    padding-bottom: 9px;
    width:calc(20% + 16px);
    display: inline-block;
}

#mobile-nav{
    display: none;
}
#mobile-nav{
    pointer-events: none;
    opacity: 0;
    position: fixed;
    z-index: 8;
}
#mobile-nav.open{
    opacity: 1;
    pointer-events: all;
}
#mobile-nav-trigger{
    z-index: 9999;
    display: none;
    position: fixed;
    left:10px;
    top:10px;
}
#outer{
    margin-top:60px;
}
a:link, a:hover, a:visited, a{
    color:inherit;
}
#over{
    display: none;
    pointer-events: none;
}
#over.on{
    display: block;
    text-align: center;
    pointer-events: auto;
    margin-top: 40%;
}

#inner{
    display: flex;
    overflow:hidden;
    max-width: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    padding-top:0px;
    justify-content: space-between;
}

#inner #text{
    flex-basis:30%;
    padding:25px 60px;
    z-index: 8;
    position:relative;
    pointer-events: none;
    /* background-color: #171718ac; */
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
h1{
    font-size: 24px;
}
#example{
    width:100px;
    height:100px;
    background-color: red;
    z-index: 9;
    position: relative;
}
#wrapper{
    width: 60%;
    height:100vh;
    margin:0;
    flex-basis: 30%;
}
#history{
    width: 20%;
    /* margin-top:160px; */
    padding:20px;
    padding-top:160px;
    position: relative;
    z-index: 1;
}
#history-icons{
    height: calc(100vh - 200px);
    overflow: scroll;
}

#history img{
    width:100px;
    opacity: 1;
    margin-left:0;
    margin-right:10px;
    margin:5px;
}

#history img.on{
    border:1px solid white;
    padding:2px;
    width:calc(100% - 40px);
}

#hist-label{
    opacity: 0;
}
#hist-label.on{
    opacity: 1;
    padding-bottom:0;
}
#wrapper img{
    position: absolute;
    top:-650px;
    left:-400px;
    mix-blend-mode: screen;
    filter: brightness(53%) contrast(1.5);
    opacity: 0.2;
    transition:1s opacity;
}

@media (min-width:1400px) {
    #wrapper img{
        left: -300px;
    }
}
@media (min-width:2000px) {
    #wrapper img{
        left: -1px;
    }
    #two #wrapper img{
        left: 500px;
    }
    #instructions-clusters span{
        margin-top:8em;
    }
}
@media (max-width:1250px) {
    #inner #text{
        flex-basis: 20%;
    }
}
@media (max-height:700px) {
    #wrapper img{
        top: -700px;
    }
}
#wrapper.brightless img{
    filter: brightness(35%) contrast(1.3);
}

#wrapper img.on, #one #wrapper img.on, #twelve #wrapper img.on, #two #wrapper img.on{
    opacity: 1;
    filter:none;
    transition:2s opacity;
    mix-blend-mode: normal;
}
#wrapper img.moved,  #one #wrapper img.moved, #twelve #wrapper img.moved, #two #wrapper img.moved{
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}


#clusters {
    flex-wrap: wrap;
    background-image:url("assets/finalized.jpg");
    padding:0;
    background-size:99%;
    background-position: 0;
    background-repeat: no-repeat;
    height: calc(100vw/ 2.16684723727);
}
#clusters > *{
    background-color: transparent;
    width: 16.5%;
    vertical-align: top;
    margin:0;
    height: calc((100vw / 2.16684723727)/3);
    display:inline-block;
    max-height: none;
}
.kolam{
    vertical-align: middle;
    top:10px;
    width:35px;
    left: 40px;
}
nav a:first-child{
    padding-right:5px;
}
#clusters > *:nth-child(1),
#clusters > *:nth-child(2),
#clusters > *:nth-child(6),
#clusters > *:nth-child(7),
#clusters > *:nth-child(8),
#clusters > *:nth-child(9),
#clusters > *:nth-child(13),
#clusters > *:nth-child(14),
#clusters > *:nth-child(15),
#clusters > *:nth-child(16),
#clusters > *:nth-child(20),
#clusters > *:nth-child(21){
    width: 12.6%;
}
#clusters > *:nth-child(12){
    width:15.7%;
    
}
#clusters > *:nth-child(4){
    width:15.4%;
}
#clusters > *:nth-child(5){
    border-top-right-radius: 50%;
}
#clusters > *:nth-child(8){
    width:13%;
    margin:10px 0;
    height: calc((100vw / 2.16684723727)/3 - 20px);
}
#clusters > *:nth-child(9){
    width:12%;
    margin:10px 0;
    height: calc((100vw / 2.16684723727)/3 - 20px);
}
#clusters > *:nth-child(18){
    width:15.4%;
}

#clusters > *:nth-child(13){
    width:12%;
    margin:20px 0;
    height: calc((100vw / 2.16684723727)/3 - 40px);
}
#clusters > *:nth-child(14){
    width: calc(12.6% - 5px);
    margin-left: 10px;
}
#clusters > a{
    background-color: rgba(245,245,245,1);
    mix-blend-mode: color;
    max-height: none;
    border-radius: 100%;
}
#clusters > a:hover{
   mix-blend-mode: normal;
   background-color: transparent;
}
#clusters > a.tsne{
    border-radius: 0;
    background-color: transparent;
}
#clusters > a.tsne.hovered{
    mix-blend-mode: normal;
    background-color: transparent;
 }
#instructions-clusters {
    text-align: center;
    margin-top:0;
}
#instructions-clusters span{
    vertical-align: bottom;
    text-align: center;
    vertical-align: bottom;
    text-align: center;
    margin-top: 4em;
    display: inline-block;
}
#clusters > a{
    max-height:500px;
    display: inline-block;
}

#clusters a img{
    margin:15px;
    max-height: 500px;
}
/* #clusters a:hover{
    background-color: rgba(245,245,245,0.5);
    mix-blend-mode: hard-light;
} */
.intro{
    padding: 0 50px;
    max-width: 1100px;
    line-height: 1.5;
}
.intro a{
    margin-top:0;
    display: inline-block;
}
#desktop-only{
    display: block;
}
#mobile-only{
    display: none;
}
#loader{
    display: none;
}
#loader.on{
    pointer-events: none;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1b1b1be0;
    z-index: 999999999;
}
#clusters-mobile{
    display: none;
}

@media (max-width:1100px) {
    #instructions-clusters span{
        margin-top:3em;
    }
}
@media (max-width:1060px) {
    #instructions-clusters span{
        margin-top:2em;
    }
}
#grid img{
    cursor: pointer;
}
.grid-intro.intro{
    top: 50px;
    left:50px;
    max-width: 80vw;
    position: absolute;
    z-index: 3;
    padding:25px;
    background: #101010da;
}
.grid-intro.intro ul{
    display: inline-block;
    vertical-align: bottom;
    padding-top:10px;
}
.grid-intro.intro img{
    width: 200px;
    margin-top:10px;
}
.grid-intro.intro ul{
    margin-top:0;
}
.grid-intro.intro ul{
    list-style: none;
    padding-left:none;
}
.grid-intro.intro p{
    margin-top:0;
}
#grid img:hover{
  transform-origin: center;
  transform: scale(3);
  z-index: 2;
}
#grid{
    position: relative;
    margin:50px;
}
#embedding{
    max-height: 100px;
    overflow: scroll;
    margin: 10px 0;
    border:1px solid;
    padding: 5px;
    font-size: 12px;
}
#cats {
    padding-top:0;
    margin-top:10px;
    max-height:100px;
    overflow: scroll;
    padding-left:0;
    border:1px solid;
    display: block;
}
#cats li{
    list-style: none;
    border:1px solid;
    padding-left:5px;
}

#history-icon::-webkit-scrollbar {
    width: 1em;
}
   
#history-icon::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#history-icons::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid black;
  }

  @media (min-width:2000px) {
    .grid-intro.intro{
        max-width: 1000px;
    }
}
@media (min-width:2000px) {
    #instructions-clusters span{
        margin-top:8em;
    }
}
@media (max-width:900px) {
    #clusters{
        display: none;
    }
    .grid-intro.intro{
        top: 20px;
        left:10px;
        max-width: 80vw;
        padding:10px;
    }
    #two #wrapper img{
        width:auto;
        left: 170px;
        top: 100px;
        height:50vh;
        opacity: 0.1;
    }
    #history{
        width: 100%;
        margin-top:109px;
        padding-top:0;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        background: #101010cf;
    }
    #text{
        background: #101010cf;
    }
    #history img{
        width:20px;
    }
    #history img.on{
        position: fixed;
        left:10px;
    }
    #history-icons{
        height:33px;
        overflow:hidden;
        padding-bottom:0;
    }
    #clusters-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body{
        font-size:16px;
    }
    #desktop-only{
        display: none;
    }
    #mobile-only{
        display: block;
    }
    #wrapper img{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }
    #clusters-mobile > a{
        max-width:95%;
        display: inline-block;
        text-align: center;
    }
    
    #clusters-mobile a img{
        margin:15px;
        max-width: 95%;
    }
    #clusters-mobile > a, #clusters-mobile a img{
        max-height: auto;
        max-width: 95%;
        margin:0;
    }
    #clusters-mobile{
        padding-top:0;
    }
    #clusters-mobile a img{
        margin-bottom: 25px;
    }
    #instructions-clusters{
        max-width:70%;
        margin-top: 0;
    }
    h1{
        font-size:20px;
        margin-top:0;
    }
    nav a{
        padding: 15px 10px;
    }
    #inner #text{
        padding:10px;
        pointer-events: none;
    }
    #wrapper img.on{
        transition-delay: 0.2s;
    }
    #instructions{
        width: calc(100% - 20px);
        padding:10px;
        margin:0;
        background-color: #101010cf;
    }

    #wrapper img{
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
        height: 74vh;
    }
    #outer{
        margin-top:48.5px;
    }
    body{
        overflow-x:hidden;
        font-size:16px;
    }
    #inner{
        padding-top:25px;
        flex-direction: column;
    }
    #wrapper{
        width: 100%;
        height:45vh;
        margin:0;
        flex-basis: auto;
        position: relative;
    }
    .intro{
        padding: 0 10px;
        margin-bottom:100px;
    }
    iframe{
        margin-top:50px;
    }
    nav{
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
        top:-5px;
        padding:10px;
        padding-bottom: 0;
    }
    #text::before,#instructions::before, nav::before, #history::before{
        filter:none;
    }
    nav a{
        padding:10px 0;
        vertical-align: middle;
    }
    nav a{
        padding-top:10px;
    }
    nav a:first-child{
        padding-top:0;
    }
    #outer, .grid-intro.intro{
        margin-top:55px;
    }
    .grid-intro.intro{
        max-width: 100%;
    }
    nav a img{
        margin-right:0;
        margin-top:5px;
    }
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
        padding-left:75px;
        padding-top:20px;
        padding-bottom:20px;
        flex-direction: column;
    }
    #mobile-nav-trigger{
        display: block;
    }
}