body{
    background-color: #171718;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin:0;
    padding:0;
    letter-spacing: 0.03em;
    line-height:1.2;
}
/* #history, nav, #instructions, #text{
    background-color: #171718cf;
} */
#text{
    position:relative;
}

#text::before,#instructions::before, nav::before, #history::before{
    background-color: #171718cf;
    position: absolute;
    width:100%;
    height:100%;
    content:"";
    top:0;
    left:0;
    filter:blur(8px);
    z-index: -1;
}

/* #text::before,#instructions::before{
    top:-10px;
} */
#instructions::before{
    height: calc(100% - 5px);
}
#instructions br{
    display: none;
}
#instructions a{
    margin-top:10px;
    display: block;
}
nav{
    position:fixed;
    top:0;
    /* background-color: #171718; */
    left:0;
    z-index: 999;
}
nav a{
    padding:15px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    opacity: 0.8;
}
#instructions{
    position: relative;
    margin-left:0;
    padding-left:25px;
    z-index: 2;
    /* background-color: #171718ac; */
    margin-top:4px;
    padding-top: 15px;
    padding-bottom:15px;
    width:calc(20% + 15px);
    display: inline-block;
}
#outer{
    margin-top:50px;
}
a:link, a:hover, a:visited, a{
    color:inherit;
}
#over{
    display: none;
    pointer-events: none;
}
#over.on{
    display: block;
    text-align: center;
    pointer-events: auto;
    margin-top: 40%;
}

#inner{
    display: flex;
    overflow:hidden;
    max-width: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    padding-top:0px;
    justify-content: space-between;
}

#inner #text{
    flex-basis:30%;
    padding:25px 60px;
    z-index: 8;
    position:relative;
    /* background-color: #171718ac; */
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
#example{
    width:100px;
    height:100px;
    background-color: red;
    z-index: 9;
    position: relative;
}
#wrapper{
    width: 60%;
    height:100vh;
    margin:0;
    flex-basis: 30%;
    position: relative;
}
#history{
    width: 20%;
    margin-top:160px;
    padding:20px;
    position: relative;
    z-index: 1;
}
#history-icons{
    height: calc(100vh - 200px);
    overflow: scroll;
}

#history img{
    width:100px;
    opacity: 1;
    margin-left:0;
    margin-right:10px;
    margin:5px;
}

#history img.on{
    border:1px solid white;
    padding:2px;
    width:calc(100% - 40px);
}

#hist-label{
    opacity: 0;
}
#hist-label.on{
    opacity: 1;
    padding-bottom:0;
}
#wrapper img{
    position: absolute;
    top:-600px;
    left:-160%;
    mix-blend-mode: screen;
    filter: brightness(53%) contrast(1.5);
    opacity: 0.2;
    transition:1s opacity;
}
#wrapper.brightless img{
    filter: brightness(35%) contrast(1.3);
}
@media (max-width:1280px) {
    #wrapper img{
        left:-95%;
    }
}
@media (max-width:1140px) {
    #wrapper img{
        left:-125%;
    }
}

#wrapper img.on{
    opacity: 1;
    filter:none;
    transition:2s opacity;
    mix-blend-mode: normal;
}
#wrapper img.moved{
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}


#clusters {
    flex-wrap: wrap;
    background-image:url("assets/map-smaller.png");
    padding:0;
    background-size:99%;
    background-repeat: no-repeat;
    height: calc(100vw/ 2.16684723727);
}
#clusters > *{
    background-color: transparent;
    width: 16.5%;
    vertical-align: top;
    margin:0;
    height: calc((100vw / 2.16684723727)/3);
    display:inline-block;
}
.kolam{
    vertical-align: bottom;
    padding: 10px;
    position:absolute;
    top:10px;
    width:35px;
    left: 40px;
}
#clusters > *:nth-child(1),
#clusters > *:nth-child(2),
#clusters > *:nth-child(6),
#clusters > *:nth-child(7),
#clusters > *:nth-child(8),
#clusters > *:nth-child(9),
#clusters > *:nth-child(13),
#clusters > *:nth-child(14),
#clusters > *:nth-child(15),
#clusters > *:nth-child(16),
#clusters > *:nth-child(20),
#clusters > *:nth-child(21){
    width: 12.6%;
}
#clusters > *:nth-child(12){
    width:15.7%;
}
#clusters > *:nth-child(4){
    width:15.4%;
}
#clusters > *:nth-child(8){
    width:13%;
}
#clusters > *:nth-child(9){
    width:12%;
}
#clusters > *:nth-child(18){
    width:15.4%;
}

#clusters > *:nth-child(13){
    width:12%;
}
#clusters > a{
    background-color: rgba(245,245,245,1);
    mix-blend-mode: color;
}
#clusters > a:hover{
   mix-blend-mode: normal;
   background-color: transparent;
}

#instructions-clusters {
    text-align: center;
    margin-top:0;
}
#instructions-clusters span{
    vertical-align: bottom;
    text-align: center;
    vertical-align: bottom;
    text-align: center;
    margin-top: 3em;
    display: inline-block;
}
#clusters > a{
    max-height:500px;
    display: inline-block;
}

#clusters a img{
    margin:15px;
    max-height: 500px;
}
/* #clusters a:hover{
    background-color: rgba(245,245,245,0.5);
    mix-blend-mode: hard-light;
} */
.intro{
    padding: 0 50px;
    max-width: 1100px;
    line-height: 1.5;
}
.intro a{
    margin-top:0;
    display: inline-block;
}
#desktop-only{
    display: block;
}
#mobile-only{
    display: none;
}
#loader{
    display: none;
}
#loader.on{
    pointer-events: none;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1b1b1be0;
    z-index: 999999999;
}
#clusters-mobile{
    display: none;
}
@media (max-width:900px) {
    #clusters{
        display: none;
    }
    #history{
        width: 100%;
        margin-top:110px;
        padding-top:0;
        padding-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        background: #171718cf;
    }
    #text{
        background: #171718cf;
    }
    #history img{
        width:20px;
    }
    #history img.on{
        position: fixed;
        left:10px;
    }
    #history-icons{
        height:33px;
        overflow:hidden;
        padding-bottom:0;
    }
    #clusters-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body{
        font-size:16px;
    }
    #desktop-only{
        display: none;
    }
    #mobile-only{
        display: block;
    }
    #wrapper img{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }
    #clusters-mobile > a{
        max-width:95%;
        display: inline-block;
        text-align: center;
    }
    
    #clusters-mobile a img{
        margin:15px;
        max-width: 95%;
    }
    #clusters-mobile > a, #clusters-mobile a img{
        max-height: auto;
        max-width: 95%;
        margin:0;
    }
    #clusters-mobile{
        padding-top:0;
    }
    #clusters-mobile a img{
        margin-bottom: 25px;
    }
    #instructions-clusters{
        max-width:70%;
        margin-top: 0;
    }
    h1{
        font-size:24px;
    }
    nav a{
        padding: 15px 10px;
    }
    #inner #text{
        padding:10px;
        pointer-events: none;
    }
    #wrapper img.on{
        transition-delay: 0.2s;
    }
    #instructions{
        width: calc(100% - 20px);
        padding:10px;
        margin:0;
        background-color: #171718cf;
    }

    #wrapper img{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 74vh;
    }
    #outer{
        margin-top:48.5px;
    }
    body{
        overflow-x:hidden;
    }
    #inner{
        padding-top:25px;
        flex-direction: column;
    }
    #wrapper{
        width: 100%;
        height:45vh;
        margin:0;
        flex-basis: auto;
        position: relative;
    }
    .intro{
        padding: 0 10px;
        margin-bottom:100px;
    }
    iframe{
        margin-top:50px;
    }
    .kolam{
        vertical-align: bottom;
        padding: 10px;
        position:absolute;
        top:10px;
        width:35px;
        left:0;
    }
}